body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d7f2a5; /* soft green */
  display: flex;
  height: 100vh;
}
/* Sidebar */
.sidebar {
  background-color: #ffe35c;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 25px;
}
.sidebar h2{
  font-size: 15px;
  text-align: center;
}
.sidebar img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.sidebar button {
  background-color: #f7f0a6;
  border: none;
  width: 80px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}
.sidebar button:hover {
  background-color: #e6df75;
}
/* Main area */
.main {
  flex-grow: 1;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
/* Top buttons */
.top-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}
.top-buttons button {
  background-color: #e0f7ff;
  border: 2px solid #00a7c3;
  border-radius: 10px;
  padding: 12px 18px;
  font-weight: 700;
  cursor: pointer;
  min-width: 120px;
}
.top-buttons button:hover {
  background-color: #cceeff;
}
/* Road container */
.road-container {
  position: relative;
  background-color: #c7f3a7;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: inset 0 0 15px #9cd35c;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.road {
  width: 600px;
  height: 300px;
  background:
    linear-gradient(to right, black 40px, transparent 40px) 0 0,
    linear-gradient(to right, black 40px, transparent 40px) 0 60px,
    linear-gradient(to top, black 40px, transparent 40px) 0 0,
    linear-gradient(to top, black 40px, transparent 40px) 60px 0;
  background-repeat: repeat-x;
  background-size: 60px 60px;
  border-radius: 30px;
  position: relative;
}
/* Stars */
.star {
  width: 35px;
  height: 35px;
  background: gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: absolute;
}

/* Star positions on road */
.star1 { top: 40px; left: 20px; }
.star2 { top: 90px; left: 220px; }
.star3 { top: 190px; left: 260px; }
.star4 { top: 140px; left: 440px; }
.star5 { top: 250px; left: 540px; }
/* Bus */
.bus {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 60px;
  background: url('img/school-bus.png') no-repeat center / contain;
}
